.interesting_1 {
  width: 100px;
  height: 46px;
  cursor: pointer;
  box-sizing: border-box;
  font-weight: 800;
  letter-spacing: 2px;
  color: #ffffff;
}

.interesting_1::before, .interesting_1::after {
  width: 100px;
  height: 46px;
  border-radius: 9px;
  border: 1px dashed #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  content: '有彩蛋';
  background-color: #36AFCA;
  box-shadow: 0 0 0 4px #36AFCA;
  transition: transform 0.5s ease;
  backface-visibility: hidden;
}

.interesting_1::after {
  content: '叫爸爸';
  background-color: #F89C6B;
  box-shadow: 0 0 0 4px #F89C6B;
  transform: rotateY(180deg);
}

.interesting_1:hover::before {
  transform: rotateY(180deg);
}

.interesting_1:hover::after {
  transform: rotateY(0deg);
}
